* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 0.625vw;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34rem;
    background: url("../img/architecture.jpeg");
    background-size: cover;
    filter: blur(8px) brightness(0.7);
    z-index: -1;
    background-position-y: 60%;
}

.container {
    margin: 0 23rem;
    & .headers {
        margin-top: 10rem;
        border-bottom: 3px solid rgba(238, 238, 238, 0.3);
        & h1 {
            text-transform: uppercase;
            font: 400 2.4rem Roboto;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 4.3rem;
        }
        & h2 {
            font: 400 1.6rem Roboto;
            color: white;
            text-transform: uppercase;
            margin-bottom: 1.3rem;
        }
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.4rem;
        margin-right: -1.4rem;
        .categoria {
            position: relative;
            flex: 0 1 calc(25% - 2.8rem);
            // padding-bottom: 1rem;
            margin: 3.2rem 1.4rem 2.8rem 1.4rem;
            overflow: hidden;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            height: 21.6rem;
            transition: .2s ease all;
            .categoria__content {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 27%;
                width: 100%;
                background-color: white;
                text-align: center;
                // padding-bottom: 2rem;
                transition: 0.2s ease all;
            }
            .categoria__title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 500;
                color: #555;
                text-transform: uppercase;
            }
            .categoria__text {
                transition: 0.2s ease all;
                opacity: 0;
                height: 0;
                font-size: 1.6rem;
                color: #aaa;
            }
            & img {
                width: 100%;
            }
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);
                .categoria__content {
                    height: 40%;
                }
                .categoria__text {
                    opacity: 1;
                    height: auto;
                }
            }
        }
    }

    & footer p {
        font-size: 1.4rem;
        color: #aaa;
    }
}
